/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2019, 08:04:36 PM
    Author     : emman
*/

.root{
    -fx-background-color:#3c3f41; 
}


.scroll-pane {
    -fx-base: transparent;
    -fx-background-color: transparent;  
}

.scroll-pane .corner{
     -fx-background-color: #3c3f41;    
}

.scroll-bar .track {
    -fx-background-color: #3c3f41;   
}

.scroll-bar .thumb {
    -fx-background-radius: 5;
    -fx-background-color: #565656;
    -fx-border-width: 8;
    -fx-background-insets: 2,0,0;
}

.scroll-bar ,.scroll-bar  {
    -fx-background-color: #3c3f41;
    -fx-background-insets: 0,10,0,0;
}

.scroll-bar increment-arrow,
.scroll-bar decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding: -2;
}

.labelPer{
   -fx-font-size: 28; 
}


.jfx-boton-inicio{
    -jfx-button-type: RAISED;
     -fx-background-color: #00a7b6;
     -fx-text-fill: #000000;
     -fx-font-size: 20;
}

.jfx-boton{
    -jfx-button-type: RAISED;
     -fx-background-color: #00a7b6;
     -fx-text-fill: #000000;
     -fx-font-size: 14;
}

.jfx-boton-mod{
    -jfx-button-type: RAISED;
     -fx-background-color: #00a7b6;
     -fx-text-fill: #000000;
     -fx-font-size: 13;
}



.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;    
}

.jfx-text-field{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;    
    -jfx-focus-color: #d57534;
}

.jfx-toggle-button{
    -fx-text-fill: #ffffff;
}

.jfx-combo-box .cell{
    -fx-background-color:#3c3f41; 
    -fx-text-fill: #ffffff;
}

.jfx-date-picker .label{
    -fx-text-fill: #000000;
}

.contInfo{
    -fx-border-width: 2;
    -fx-border-color: #292b2d;
}


.tiempo{
    
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-pref-height: 65;
    -fx-text-fill: #000000;
}

.label-titulos-turnos{
    -fx-font-size: 28;
    -fx-background-color: #68b7e5;
    -fx-font-weight: bold;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
    -fx-alignment: center;
}

.label-titulos-puestos{
    -fx-font-size: 28;
    -fx-background-color: #6487aa;
    -fx-font-weight: bold;
    -fx-pref-width: 150;
    -fx-pref-height: 60;
    -fx-alignment: center;
    
}





.list-view-turnos {
    -fx-expanded: true;
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-pref-width: 150;
    -fx-pref-height: 200;
    
}

.list-view-turnos .list-cell:hover {
    -fx-expanded: true;
    -fx-background-color: #3a7597;
}

.list-view-turnos .list-cell {
    -fx-expanded: true;
    -fx-background-color: #68b7e5;
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-alignment: center;
}

.list-view-turnos .label {
    -fx-expanded: true;
    -fx-text-fill: white;
}

.jfx-rippler {
    -fx-expanded: true;
    -jfx-rippler-fill: #ffffff;
}





.list-view-puestos {
    -fx-expanded: true;
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-pref-width: 150;
    -fx-pref-height: 200;
    
}

.list-view-puestos .list-cell:hover {
    -fx-background-color: #3a7597;
}

.list-view-puestos .list-cell {
    -fx-background-color: #6487aa;
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-alignment: center;
}

.list-view-puestos .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: #ffffff;
}




.list-view-registros {
    -fx-expanded: true;
    -fx-background-color:transparent;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-pref-width: 100;
    -fx-pref-height: 160;
    
}

.list-view-registros .list-cell:hover {
    -fx-expanded: true;
    -fx-background-color: #3a7597;
}

.list-view-registros .list-cell {
    -fx-expanded: true;
    -fx-background-color: #1d6c90;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-alignment: center;
}

.list-view-registros .label {
    -fx-expanded: true;
    -fx-text-fill: white;
}

.jfx-rippler {
    -fx-expanded: true;
    -jfx-rippler-fill: #ffffff;
}